.combobox-option {
  display: block;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 14px;

  &:focus {
    outline: 0;
    background: #777b80;
  }

  &.combobox-option-selected:before {
    content: '✓';
    position: absolute;
    left: 4px;
  }
}
