.combobox-option {
  display: block;
  padding: 2px 16px;
  cursor: default;

  &:focus {
    outline: 0;
    color: white;
    background: hsl(200, 50%, 50%);
  }

  &.combobox-option-selected:before {
    content: '✓';
    position: absolute;
    left: 4px;
  }
}
