.token {
  background-color: #777b80;
  color: #ffffff;
  border-radius: 3px;
  padding: 0px 4px;
  margin-right: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-flex;

  .token-label {
    line-height: 20px;
  }

  .token-delete-button {
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
  }

  .token-delete-button:hover {
    color: #80b8ff;
  }
}

